@model personapi_dotnet.Models.Entities.Estudio
@{
    ViewData["Title"] = "Create Estudio";
}
<h1>Create Estudio</h1>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Profesion</label>
        <select class="form-control" asp-for="IdProf" asp-items='@((SelectList)ViewData["IdProf"])'></select>
    </div>
    <div class="form-group">
        <label>Persona</label>
        <select class="form-control" asp-for="CcPer" asp-items='@((SelectList)ViewData["CcPer"])'></select>
    </div>
    <div class="form-group">
        <label asp-for="Fecha"></label>
        <input class="form-control" asp-for="Fecha" />
    </div>
    <div class="form-group">
        <label asp-for="Univer"></label>
        <input class="form-control" asp-for="Univer" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</form>
