@model personapi_dotnet.Models.Entities.Persona

@{
 ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Create" method="post">
 <div class="form-group">
 <label asp-for="Cc"></label>
 <input class="form-control" asp-for="Cc" />
 </div>
 <div class="form-group">
 <label asp-for="Nombre"></label>
 <input class="form-control" asp-for="Nombre" />
 </div>
 <div class="form-group">
 <label asp-for="Apellido"></label>
 <input class="form-control" asp-for="Apellido" />
 </div>
 <div class="form-group">
 <label asp-for="Genero"></label>
 <input class="form-control" asp-for="Genero" />
 </div>
 <div class="form-group">
 <label asp-for="Edad"></label>
 <input class="form-control" asp-for="Edad" />
 </div>
 <div class="form-group">
 <button type="submit" class="btn btn-primary">Create</button>
 <a class="btn btn-secondary" asp-action="Index">Back to List</a>
 </div>
</form>
