@model personapi_dotnet.Models.Entities.Persona

@{
 ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
 <h4>Persona</h4>
 <hr />
 <dl class="row">
 <dt class = "col-sm-2">CC</dt>
 <dd class = "col-sm-10">@Model.Cc</dd>
 <dt class = "col-sm-2">Nombre</dt>
 <dd class = "col-sm-10">@Model.Nombre</dd>
 <dt class = "col-sm-2">Apellido</dt>
 <dd class = "col-sm-10">@Model.Apellido</dd>
 </dl>

 <form asp-action="Delete">
 <input type="hidden" asp-for="Cc" />
 <button type="submit" class="btn btn-danger">Delete</button>
 <a class="btn btn-secondary" asp-action="Index">Back to List</a>
 </form>
</div>
