@model personapi_dotnet.Models.Entities.Profesion
@{
 ViewData["Title"] = "Profesion Details";
}
<h1>Profesion Details</h1>
<dl class="row">
 <dt class="col-sm-2">Id</dt>
 <dd class="col-sm-10">@Model.Id</dd>
 <dt class="col-sm-2">Nombre</dt>
 <dd class="col-sm-10">@Model.Nom</dd>
 <dt class="col-sm-2">Descripcion</dt>
 <dd class="col-sm-10">@Model.Des</dd>
</dl>
<a class="btn btn-primary" asp-action="Index">Back to List</a>
