@model personapi_dotnet.Models.Entities.Profesion
@{
 ViewData["Title"] = "Edit Profesion";
}
<h1>Edit Profesion</h1>
<form asp-action="Edit" method="post">
 <input type="hidden" asp-for="Id" />
 <div class="form-group">
 <label asp-for="Nom"></label>
 <input class="form-control" asp-for="Nom" />
 </div>
 <div class="form-group">
 <label asp-for="Des"></label>
 <input class="form-control" asp-for="Des" />
 </div>
 <button type="submit" class="btn btn-primary">Save</button>
 <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</form>
